* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * body {
    min-height: 100vh;
    background-color: #f1f1f1; }

.fixed-top {
  position: fixed;
  top: 0; }

.fixed-theme {
  transition: 0.8s; }

.logoDark {
  background: url("../img/logoOnkelDarkXXS.webp");
  width: 172px;
  height: 65px; }

.logoLigth {
  background: url("../img/logoOnkelLigthXXS.webp");
  width: 172px;
  height: 65px; }

.colorDark {
  color: #333333; }

.colorLigth {
  color: #e6e6e6; }

.wrapper {
  background: url("../img/room-interior-design.webp") no-repeat center;
  background-size: cover;
  min-height: 100vh; }
  .wrapper .recuadroCentral {
    background-color: transparent;
    width: 70%;
    max-width: 1280px;
    height: 1270px; }
