@font-face {
  font-family: "biennale";
  src: url("../fonts/Biennale/BiennaleRegular.otf"); }

@font-face {
  font-family: "biennaleHeavy";
  src: url("../fonts/Biennale/BiennaleHeavy.otf"); }

@font-face {
  font-family: "biennaleBold";
  src: url("../fonts/Biennale/BiennaleBold.otf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }
  * body {
    min-height: 100vh;
    background-color: white;
    font-family: "biennale", sans-serif; }
    * body a {
      text-decoration: none; }
    * body .bgGris {
      background-color: #e6e6e6; }

.letraE {
  display: inline-block;
  -moz-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  transform: rotate(-12deg) translateX(-2px);
  color: #f02411; }

.tamanioSeccion {
  min-height: 100vh; }

.tituloRojo {
  color: #f02411; }

.tituloRojoAlt {
  color: #cc2a49; }

.sombraBlanca {
  text-shadow: 1px 1px 2px #fcfbfb, 0 0 1em #ffffff, 0 0 0.2em #ffffff; }

.sombraNegra {
  text-shadow: 1px 1px 2px #050505, 0 0 1em #050505, 0 0 0.2em #050505; }

.centrarTexto {
  text-align: center; }

.textoBold {
  font-family: "biennaleBold"; }

.fontPrincipal {
  font-family: "Lato", sans-serif; }

.fontSecundaria {
  font-family: "biennale", sans-serif; }

.fontSecundariaHeavy {
  font-family: "biennaleHeavy", sans-serif; }

.fontSecundariaBold {
  font-family: "biennaleBold", sans-serif; }

.fixed-top {
  position: fixed;
  top: 0; }

.fixed-theme {
  transition: 0.8s; }

.logoDark {
  background: url("../img/logoOnkelDarkXXS.webp");
  width: 172px;
  height: 65px; }

.logoLigth {
  background: url("../img/logoOnkelLigthXXS.webp");
  width: 172px;
  height: 65px; }

.redesHeader {
  width: 172px; }
  @media only screen and (max-width: 992px) {
    .redesHeader {
      width: auto; } }

.colorDark {
  color: #333333; }

.colorLigth {
  color: #e6e6e6; }

.wrapper {
  background: url("../img/room-interior-design.webp") no-repeat center;
  background-size: cover;
  min-height: 100vh; }
  .wrapper .recuadroCentral {
    background-color: transparent;
    width: 70%;
    max-width: 1280px;
    /* height: 270px; */
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden; }
    .wrapper .recuadroCentral .preTitulo {
      font-family: "biennale";
      text-transform: uppercase;
      text-shadow: 1px 1px 2px #fcfbfb, 0 0 1em #ffffff, 0 0 0.2em #ffffff; }
      @media only screen and (max-height: 480px) {
        .wrapper .recuadroCentral .preTitulo {
          display: none; } }
    .wrapper .recuadroCentral .titulo {
      font-family: "biennaleBold";
      text-shadow: 1px 1px 2px #fcfbfb, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
      text-transform: uppercase; }
    .wrapper .recuadroCentral .subTitulo {
      font-family: "biennaleBold";
      text-shadow: 1px 1px 2px #fcfbfb, 0 0 1em #ffffff, 0 0 0.2em #ffffff; }
  @media only screen and (max-height: 480px) {
    .wrapper .mouseIcon {
      display: none; } }

.contactos .contactoMsg #buttonDiv .btnEnviar {
  transition: 0.3s ease-in;
  font-family: "biennale";
  border: 2px solid #cc2a49;
  border-radius: 0px;
  color: #e6e6e6;
  background-color: #cc2a49; }
  .contactos .contactoMsg #buttonDiv .btnEnviar:hover {
    transition: 0.3s ease-in;
    border-radius: 0px;
    color: #cc2a49;
    text-shadow: none;
    background-color: #333333; }

.letraEAjuste {
  transform: rotate(-12deg) translateX(-1px); }

.linea {
  width: 60px; }

.frasePresentacion {
  color: #888888; }

.seccionGeneral {
  height: 400px; }
  @media only screen and (max-width: 992px) {
    .seccionGeneral {
      height: 750px; } }
  .seccionGeneral .flechaInv {
    color: transparent; }
  .seccionGeneral .flechaColor {
    color: #f02411; }
  .seccionGeneral .seccionGeneral1 .seccionAmoblamientos {
    height: 400px;
    background: url("../img/cocinaFeliz2S.webp");
    background-size: cover;
    background-position: center;
    transition: all 0.8s ease-in-out; }
  .seccionGeneral .seccionGeneral1 .textoAmoblamientos {
    position: absolute;
    top: 0px;
    text-align: justify;
    transition: all 0.6s ease-in;
    font-family: "biennaleBold";
    color: transparent;
    transform: rotate(5deg); }
  .seccionGeneral .seccionGeneral1 .seccionAmoblamientosCover {
    position: absolute;
    top: 0px;
    transform: translateY(0%);
    transition: all 0.4s ease-in; }
  .seccionGeneral .seccionGeneral1:hover .seccionAmoblamientosCover {
    border: solid 3px RED;
    transform: translateY(100%);
    transition: all 0.4s ease-out; }
  .seccionGeneral .seccionGeneral1:hover .seccionAmoblamientos {
    transform: scale(1.2) rotate(3deg);
    transition: all 0.8s ease-in-out; }
  .seccionGeneral .seccionGeneral1:hover .textoAmoblamientos {
    transition: all 0.6s ease-in;
    transform: rotate(0deg);
    color: black;
    text-shadow: 1px 1px 2px #fcfbfb, 0 0 1em #ffffff, 0 0 0.2em #ffffff; }
  .seccionGeneral .seccionGeneral2 .seccionSteel {
    height: 400px;
    background-position: center;
    background: url("../img/steelAndWood.jpg");
    background-size: cover;
    transition: all 0.8s ease-in-out; }
  .seccionGeneral .seccionGeneral2 .textoSteel {
    position: absolute;
    top: 0px;
    text-align: justify;
    /*  visibility: hidden; */
    transition: all 0.6s ease-in;
    font-family: "biennaleBold";
    color: transparent;
    transform: rotate(5deg); }
  .seccionGeneral .seccionGeneral2 .seccionSteelCover {
    position: absolute;
    top: 0px;
    transform: translateY(0%);
    transition: all 0.4s ease-in; }
  .seccionGeneral .seccionGeneral2:hover .seccionSteelCover {
    transform: translateY(100%);
    transition: all 0.4s ease-out; }
  .seccionGeneral .seccionGeneral2:hover .seccionSteel {
    transform: scale(1.2) rotate(3deg);
    transition: all 0.8s ease-in-out; }
  .seccionGeneral .seccionGeneral2:hover .textoSteel {
    /* visibility: visible; */
    transition: all 0.6s ease-in;
    transform: rotate(0deg);
    color: black;
    text-shadow: 1px 1px 2px #fcfbfb, 0 0 1em #ffffff, 0 0 0.2em #ffffff; }

.tamanioSeccionBg1 {
  min-height: 50vh; }

.separadorBg1 {
  background-color: #e6e6e6;
  width: 100%;
  height: 250px;
  margin: 0px auto; }
  .separadorBg1 .separadorBg1Img {
    background: url("../img/interior-house-kitchen.webp") no-repeat center;
    background-size: cover;
    background-position: bottom; }
  .separadorBg1 .separadorBg1Fondo .textoSeparadorBg1 {
    text-align: center;
    font-family: "biennaleBold"; }

.separadorBg2 {
  width: 100%;
  height: 500px;
  margin: 0px auto; }
  .separadorBg2 .separadorBg2Img {
    background: url("") no-repeat center;
    background-size: cover;
    background-position: bottom; }
  .separadorBg2 .separadorBg2Fondo .textoSeparadorBg2 {
    text-align: center;
    font-family: "biennale"; }

.seccionNuestroTrabajo {
  height: 80vh; }

.letraEAjuste2 {
  transform: rotate(-12deg) translateX(-3px); }
  @media only screen and (max-width: 992px) {
    .letraEAjuste2 {
      transform: rotate(-12deg) translateX(-2px); } }

.colorIconos {
  color: #cc2a49; }

.imagenFondo {
  size-adjust: inherit; }

.imagenCentral {
  height: 600px;
  width: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.imgFondo {
  height: 600px;
  width: 280px;
  background: url("../img/fondoCelular.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.imgfrente {
  height: 459px;
  width: 234px;
  background-color: white;
  transform: translate(-48.7%, -52%); }

.grilla > div > div > div > i {
  transition: all 0.4s ease-out; }

.grilla > div > div > div:hover i {
  transition: all 0.4s ease-in;
  transform: translateY(-35%) scale(120%); }

.contactos {
  background-color: #424243;
  display: flex;
  justify-content: space-around; }
  @media only screen and (min-width: 650px) and (max-width: 960px) {
    .contactos {
      flex-direction: column;
      justify-content: space-around; } }
  @media only screen and (max-width: 650px) {
    .contactos {
      flex-direction: column;
      justify-content: space-around;
      overflow: hidden; } }
  .contactos .seccionContacto {
    width: 45%;
    font-family: 'Roboto', sans-serif; }
    @media only screen and (max-width: 650px) {
      .contactos .seccionContacto {
        width: 100%; } }
  @media only screen and (max-width: 650px) {
    .contactos .contactoForm {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .contactos .contactoForm .contactoInput {
    width: 40%;
    margin: 25px;
    font-size: larger;
    font-family: "roboto";
    padding: 8px 16px;
    border-radius: 10px;
    border: none; }
    @media only screen and (min-width: 650px) and (max-width: 960px) {
      .contactos .contactoForm .contactoInput {
        width: 90%; } }
    @media only screen and (max-width: 650px) {
      .contactos .contactoForm .contactoInput {
        width: 80%; } }
  .contactos .contactoMsg {
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 650px) {
      .contactos .contactoMsg {
        align-items: center; } }
    .contactos .contactoMsg #mensaje {
      font-size: larger;
      font-family: "roboto";
      padding: 8px 16px;
      border-radius: 10px;
      border: none;
      width: 90%;
      height: 100px;
      margin: 25px;
      resize: none; }
      @media only screen and (max-width: 650px) {
        .contactos .contactoMsg #mensaje {
          width: 80%;
          margin: 15px; } }
    .contactos .contactoMsg #buttonDiv {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      text-decoration: none; }
      .contactos .contactoMsg #buttonDiv .btnEnviar {
        margin: 25px;
        padding: 10px 100px;
        text-decoration: none;
        background-color: transparent; }
  .contactos .contactoRedes {
    width: 45%;
    padding: 25px; }
    @media only screen and (max-width: 650px) {
      .contactos .contactoRedes {
        width: 100%;
        overflow: hidden;
        padding: 2px; } }
    @media only screen and (max-width: 650px) {
      .contactos .contactoRedes ul {
        margin: 5px; } }
    .contactos .contactoRedes ul li {
      display: flex;
      justify-content: flex-start;
      color: white;
      margin: 25px;
      align-items: baseline; }
      .contactos .contactoRedes ul li i {
        margin-right: 15px; }
      @media only screen and (max-width: 650px) {
        .contactos .contactoRedes ul li p {
          font-size: 14px; } }

.footer {
  background-color: #2A2929;
  width: auto;
  display: block; }
  .footer .footerImg {
    margin: 15px; }
  .footer .terminos {
    color: #999999;
    text-decoration: none;
    margin: 10px 40px 40px 40px;
    text-align: justify; }
    @media only screen and (max-width: 650px) {
      .footer .terminos {
        margin: 0px;
        display: flex;
        justify-content: center; } }
  .footer .disclaimImages {
    margin-top: 20px; }
    .footer .disclaimImages p {
      text-align: center;
      color: #999999; }
  .footer .derechos {
    text-align: center;
    font-style: italic;
    vertical-align: bottom;
    background-color: black; }
    .footer .derechos p {
      color: white; }

/* ---------------------------------Boton flotante Wapp */
.floatWapp {
  position: fixed;
  z-index: 4;
  right: 50px;
  bottom: 50px;
  width: 40px;
  height: 40px; }
  .floatWapp img {
    width: 80px;
    height: 80px; }
    @media only screen and (max-width: 650px) {
      .floatWapp img {
        width: 70px;
        height: 70px; } }

.floatWapp {
  position: fixed;
  z-index: 4;
  right: 50px;
  bottom: 50px;
  width: 40px;
  height: 40px; }
  .floatWapp img {
    width: 80px;
    height: 80px; }
    @media only screen and (max-width: 992px) {
      .floatWapp img {
        width: 70px;
        height: 70px; } }
