@font-face {
  font-family: "biennale";
  src: url("../fonts/Biennale/BiennaleRegular.otf"); }

@font-face {
  font-family: "biennaleHeavy";
  src: url("../fonts/Biennale/BiennaleHeavy.otf"); }

@font-face {
  font-family: "biennaleBold";
  src: url("../fonts/Biennale/BiennaleBold.otf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }
  * body {
    min-height: 100vh;
    background-color: #f1f1f1;
    font-family: "biennale", sans-serif; }
    * body a {
      text-decoration: none; }

.letraE {
  display: inline-block;
  -moz-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  transform: rotate(-12deg) translateX(-2px);
  color: #f02411; }

.fixed-top {
  position: fixed;
  top: 0; }

.fixed-theme {
  transition: 0.8s; }

.logoDark {
  background: url("../img/logoOnkelDarkXXS.webp");
  width: 172px;
  height: 65px; }

.logoLigth {
  background: url("../img/logoOnkelLigthXXS.webp");
  width: 172px;
  height: 65px; }

.redesHeader {
  width: 172px; }
  @media only screen and (max-width: 992px) {
    .redesHeader {
      width: auto; } }

.colorDark {
  color: #333333; }

.colorLigth {
  color: #e6e6e6; }

.wrapper {
  background: url("../img/room-interior-design.webp") no-repeat center;
  background-size: cover;
  min-height: 100vh; }
  .wrapper .recuadroCentral {
    background-color: transparent;
    width: 70%;
    max-width: 1280px;
    /* height: 270px; */
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden; }
    .wrapper .recuadroCentral .preTitulo {
      font-family: "biennale";
      text-transform: uppercase;
      text-shadow: 1px 1px 2px #fcfbfb, 0 0 1em #ffffff, 0 0 0.2em #ffffff; }
      @media only screen and (max-height: 480px) {
        .wrapper .recuadroCentral .preTitulo {
          display: none; } }
    .wrapper .recuadroCentral .titulo {
      font-family: "biennaleBold";
      text-shadow: 1px 1px 2px #fcfbfb, 0 0 1em #ffffff, 0 0 0.2em #ffffff; }
    .wrapper .recuadroCentral .subTitulo {
      font-family: "biennale";
      text-shadow: 1px 1px 2px #fcfbfb, 0 0 1em #ffffff, 0 0 0.2em #ffffff; }
    .wrapper .recuadroCentral .botonTransp {
      transition: 0.3s ease-in;
      font-family: "biennaleBold";
      border: 2px solid #333333;
      border-radius: 0px;
      color: #333333;
      text-shadow: 1px 1px 2px #fcfbfb, 0 0 1em #ffffff, 0 0 0.2em #ffffff; }
      .wrapper .recuadroCentral .botonTransp:hover {
        font-family: "biennale";
        transition: 0.3s ease-in;
        border-radius: 0px;
        color: white;
        text-shadow: none;
        background-color: #333333; }
    .wrapper .recuadroCentral .botonRojo {
      transition: 0.3s ease-in;
      font-family: "biennale";
      border: 2px solid #cc2a49;
      border-radius: 0px;
      color: #e6e6e6;
      background-color: #cc2a49; }
      .wrapper .recuadroCentral .botonRojo:hover {
        transition: 0.3s ease-in;
        border-radius: 0px;
        color: #cc2a49;
        text-shadow: none;
        background-color: #333333; }
  @media only screen and (max-height: 480px) {
    .wrapper .mouseIcon {
      display: none; } }

.linea {
  width: 60px; }

.frasePresentacion {
  color: #888888; }

.seccionGeneral {
  height: 400px; }
  @media only screen and (max-width: 992px) {
    .seccionGeneral {
      height: 750px; } }
  .seccionGeneral .flechaInv {
    color: transparent; }
  .seccionGeneral .flechaColor {
    color: #f02411; }
  .seccionGeneral .seccionGeneral1 .seccionAmoblamientos {
    height: 400px;
    background: url("../img/amoblamientos.jpg");
    background-size: cover;
    background-position: center;
    transition: all 0.8s ease-in-out; }
  .seccionGeneral .seccionGeneral1 .textoAmoblamientos {
    position: absolute;
    top: 0px;
    text-align: justify;
    transition: all 0.6s ease-in;
    font-family: "biennaleBold";
    color: transparent;
    transform: rotate(5deg); }
  .seccionGeneral .seccionGeneral1 .seccionAmoblamientosCover {
    position: absolute;
    top: 0px;
    transform: translateY(0%);
    transition: all 0.4s ease-in; }
  .seccionGeneral .seccionGeneral1:hover .seccionAmoblamientosCover {
    border: solid 3px RED;
    transform: translateY(100%);
    transition: all 0.4s ease-out; }
  .seccionGeneral .seccionGeneral1:hover .seccionAmoblamientos {
    transform: scale(1.2) rotate(3deg);
    transition: all 0.8s ease-in-out; }
  .seccionGeneral .seccionGeneral1:hover .textoAmoblamientos {
    transition: all 0.6s ease-in;
    transform: rotate(0deg);
    color: black;
    text-shadow: 1px 1px 2px #fcfbfb, 0 0 1em #ffffff, 0 0 0.2em #ffffff; }
  .seccionGeneral .seccionGeneral2 .seccionSteel {
    height: 400px;
    background-position: center;
    background: url("../img/steelAndWood.jpg");
    background-size: cover;
    transition: all 0.8s ease-in-out; }
  .seccionGeneral .seccionGeneral2 .textoSteel {
    position: absolute;
    top: 0px;
    text-align: justify;
    /*  visibility: hidden; */
    transition: all 0.6s ease-in;
    font-family: "biennaleBold";
    color: transparent;
    transform: rotate(5deg); }
  .seccionGeneral .seccionGeneral2 .seccionSteelCover {
    position: absolute;
    top: 0px;
    transform: translateY(0%);
    transition: all 0.4s ease-in; }
  .seccionGeneral .seccionGeneral2:hover .seccionSteelCover {
    border: solid 3px RED;
    transform: translateY(100%);
    transition: all 0.4s ease-out; }
  .seccionGeneral .seccionGeneral2:hover .seccionSteel {
    transform: scale(1.2) rotate(3deg);
    transition: all 0.8s ease-in-out; }
  .seccionGeneral .seccionGeneral2:hover .textoSteel {
    /* visibility: visible; */
    transition: all 0.6s ease-in;
    transform: rotate(0deg);
    color: black;
    text-shadow: 1px 1px 2px #fcfbfb, 0 0 1em #ffffff, 0 0 0.2em #ffffff; }
