@font-face { 
    font-family: "biennale"; 
    src: url("../fonts/Biennale/BiennaleRegular.otf"); 
} 
@font-face { 
    font-family: "biennaleHeavy"; 
    src: url("../fonts/Biennale/BiennaleHeavy.otf"); 
}
@font-face { 
    font-family: "biennaleBold"; 
    src: url("../fonts/Biennale/BiennaleBold.otf"); 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;


    body {
        min-height: 100vh;
        background-color: $bgColorLigth;
        font-family: "biennale", sans-serif;
      a{
        text-decoration: none;
    }  
    .bgGris{
        background-color: $ligthColor;
    }
    }
    




}


.letraE {
    display: inline-block;
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg) translateX(-2px);
    color: $secondarycolor;

}

.tamanioSeccion{
    min-height: 100vh;
}



.tituloRojo{
    color: $secondarycolor;
}
.tituloRojoAlt{
    color: $secondaryColorAlt;
}
.sombraBlanca{
    text-shadow: $sombraBlanca;
}
.sombraNegra{
    text-shadow: $sombraNegra;
}

.centrarTexto{
    text-align: center;
}
.textoBold{
    font-family: "biennaleBold";
}
.fontPrincipal{
    font-family: $fontPrincipal;
}
.fontSecundaria{
    font-family: $fontSecundaria;
}
.fontSecundariaHeavy{
    font-family: $fontSecundariaHeavy;
}
.fontSecundariaBold{
    font-family: $fontSecundariaBold;
}