@font-face { 
    font-family: "biennale"; 
    src: url("../fonts/Biennale/BiennaleRegular.otf"); 
} 



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;


    body {
        min-height: 100vh;
        background-color: #f1f1f1;
        
      a{
        text-decoration: none;
    }  
    }
    




}

