@font-face { 
    font-family: "biennale"; 
    src: url("../fonts/Biennale/BiennaleRegular.otf"); 
} 
@font-face { 
    font-family: "biennaleHeavy"; 
    src: url("../fonts/Biennale/BiennaleHeavy.otf"); 
}
@font-face { 
    font-family: "biennaleBold"; 
    src: url("../fonts/Biennale/BiennaleBold.otf"); 
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;


    body {
        min-height: 100vh;
        background-color: #f1f1f1;
        font-family: "biennale", sans-serif;
      a{
        text-decoration: none;
    }  
    }
    




}

.letraE {
    display: inline-block;
    -moz-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg) translateX(-2px);
    color: $secondarycolor;

}

