
$darkColor: #333333;
$secondarycolor: #f02411;
$secondaryColorAlt: #cc2a49;
$bgColorLigth: white;
$bgColorDark:#333333;
$ligthColor:#e6e6e6;
$fontColorAlt: #888888;

$sombraBlanca: 1px 1px 2px rgb(252, 251, 251), 0 0 1em #ffffff, 0 0 0.2em #ffffff;
$sombraNegra: 1px 1px 2px rgb(5, 5, 5), 0 0 1em #050505, 0 0 0.2em #050505;
$sombreNone: none;


$telefonoPrincipal: "5492914071936";
