
$darkColor: #333333;
$secondarycolor: #f02411;
$bgColorLigth: white;
$bgColorDark:#333333;
$ligthColor:#e6e6e6;

$sombraBlanca: 1px 1px 2px rgb(252, 251, 251), 0 0 1em #ffffff, 0 0 0.2em #ffffff;
$sombreNone: none;