

  .fixed-top {
    position: fixed;
    top: 0;
  }
  
  .fixed-theme {
    transition: 0.8s;
  }

  .logoDark{
    background: url("../img/logoOnkelDarkXXS.webp");
   
    width: 172px;
    height: 65px;
   }

   .logoLigth{
    background: url("../img/logoOnkelLigthXXS.webp");
   
    width: 172px;
    height: 65px;
   }
   .redesHeader{
    width: 172px;
    @media only screen and (max-width: 992px) {
     width: auto;
   }
  }

   .colorDark{
    color: $darkColor
   }
   .colorLigth{
    color: $ligthColor;
   }