.wrapper {
    background: url("../img/room-interior-design.webp") no-repeat center;
    background-size: cover;
    min-height: 100vh;


    .recuadroCentral {
        background-color: transparent;
        width: 70%;
        max-width: 1280px;
        /* height: 270px; */
        color: $darkColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        overflow: hidden;
       

        .preTitulo{
            font-family: "biennale";
            text-transform: uppercase;
            text-shadow: $sombraBlanca;
        }

        .titulo {
            font-family: "biennaleBold";
            text-shadow: $sombraBlanca;
            
         

            #letraE {
                display: inline-block;
                -moz-transform:rotate(-12deg) ;
                -webkit-transform: rotate(-12deg);
                transform: rotate(-12deg) translateX(-2px);
                color: $secondarycolor;
                
            }

           

        }

        .subTitulo{
            font-family: "biennale";
            text-shadow: $sombraBlanca;
        }

        .botonTransp{
            transition: 0.3s ease-in;
            font-family: "biennaleBold" ;
            border: 2px solid $bgColorDark;
            border-radius: 0px;
            color: $bgColorDark;
            text-shadow: $sombraBlanca;


            &:hover{
            font-family: "biennale";
            transition: 0.3s ease-in;
            border-radius: 0px;
            color: $bgColorLigth;
            text-shadow: none;
            background-color: $bgColorDark;
            }
        }

        .botonRojo{
            transition: 0.3s ease-in;
            font-family: "biennale" ;
            border: 2px solid $secondaryColorAlt;
            border-radius: 0px;
            color: $ligthColor;
            background-color: $secondaryColorAlt;

            &:hover{
                transition: 0.3s ease-in;
                border-radius: 0px;
                color: $secondaryColorAlt;
                text-shadow: none;
                background-color: $bgColorDark;
                }

        }


    }

}



