.linea {
    width: 60px;
}

.frasePresentacion {
    color: $fontColorAlt;
}

.seccionGeneral {
    height: 400px;
    @media only screen and (max-width: 992px) {
        height: 750px;
      }
    
      .flechaInv{
        color: transparent;
      }

      .flechaColor{
        color: $secondarycolor
      }

    .seccionGeneral1 {


        .seccionAmoblamientos {
            height: 400px;
            background: url('../img/amoblamientos.jpg');
            background-size: cover;
            transition: all 0.8s ease-in-out;
            
        }

        
        .textoAmoblamientos {
            position: absolute;
            top: 0px;
            text-align: justify;
            transition: all 0.6s ease-in;
            font-family: "biennaleBold";
            color: transparent;
            transform: rotate(5deg) ;
        }


        .seccionAmoblamientosCover {
            position: absolute;
            top: 0px;
            transform: translateY(0%);
            transition: all 0.4s ease-in;

        }

        &:hover .seccionAmoblamientosCover{
            border: solid 3px RED;
            transform: translateY(100%);
            transition: all 0.4s ease-out;

        }
        &:hover .seccionAmoblamientos{
            transform: scale(1.2) rotate(3deg);
            transition: all 0.8s ease-in-out;

        }
        &:hover .textoAmoblamientos {
            transition: all 0.6s ease-in;
            transform: rotate(0deg);
            color: black;
            text-shadow: $sombraBlanca;
        }
    }

    .seccionGeneral2 {

        .seccionSteel {
            height: 400px;
            background: url('../img/steelAndWood.jpg');
            background-size: cover;
            transition: all 0.8s ease-in-out;
            
        }

        
        .textoSteel {
            position: absolute;
            top: 0px;
            text-align: justify;
           /*  visibility: hidden; */
            transition: all 0.6s ease-in;
            font-family: "biennaleBold";
            color: transparent;
            transform: rotate(5deg) ;
        }


        .seccionSteelCover {
            position: absolute;
            top: 0px;
            transform: translateY(0%);
            transition: all 0.4s ease-in;

        }

        &:hover .seccionSteelCover{
            border: solid 3px RED;
            transform: translateY(100%);
            transition: all 0.4s ease-out;

        }
        &:hover .seccionSteel{
            transform: scale(1.2) rotate(3deg);
            transition: all 0.8s ease-in-out;

        }
        &:hover .textoSteel {
            /* visibility: visible; */
            transition: all 0.6s ease-in;
            transform: rotate(0deg);
            color: black;
            text-shadow: $sombraBlanca;
        }
    }

}