.separadorBg1{
    
    
    width: 100%;
    height: 250px;
    margin: 50px auto;

    .separadorBg1Img{
        background: url("../img/interior-house-kitchen.webp") no-repeat center;
        background-size:cover ;
        background-position: bottom;
        
    }

    .separadorBg1Fondo{

        .textoSeparadorBg1{
            text-align: center;
            font-family:  "biennaleBold";
            
            


        }
    }




}


.separadorBg2{
    
    
    width: 100%;
    height: 500px;
    margin: 50px auto;

    .separadorBg2Img{
        background: url("") no-repeat center;
        background-size:cover ;
        background-position: bottom;
        
    }

    .separadorBg2Fondo{

        .textoSeparadorBg2{
            text-align: center;
            font-family:  "biennaleBold";
            
            


        }
    }




}
