
.letraEAjuste2{
    transform: rotate(-12deg) translateX(-3px);

    @media only screen and (max-width: 992px) {
        transform: rotate(-12deg) translateX(-2px);
    }
}


.colorIconos{
    color: $secondaryColorAlt;
}


.imagenFondo{
    size-adjust: inherit;
}


.imagenCentral{
    height: 600px;
    width: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



.imgFondo{
    height: 600px;
    width: 280px;
    background: url('../img/fondoCelular.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.imgfrente{
    height: 459px;
    width: 234px;
    background-color: white;
    transform: translate(-48.7%,-52%);
}


.grilla>div>div>div{
    >i{
        transition: all 0.4s ease-out;
    }
    &:hover i{
        transition: all 0.4s ease-in;
        transform: translateY(-35%) scale(120%);
        
    }
    
}